@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.conteneur-principal{
    display:flex;
    align-items: flex-start;
    justify-content:flex-start;
    flex-direction:row;
    width: 100%;
    margin-bottom: 100px;
}

/*----------------------------------aside-gauche-------------------------------------------------*/
.conteneur-aside-gauche{
    display:flex;
    flex-direction:column;
    width: 35%;
    padding-top:50px;
}

.conteneur-aside-gauche ul{
    padding: 0px 0px 32px 0px;
    display: flex;
    flex-direction:column;
    align-items:flex-start;
    justify-content:flex-start;
    margin: 0;
}

.text1-aside-gauche, .text2-aside-gauche{
    margin: 0;
}

.conteneur-aside-gauche ul li, .conteneur-aside-gauche h3{
    font-family: "Poppins", serif;
    color: #000091;
    cursor: pointer;
    transition: 0.2s ease;
}

.text1-aside-gauche li:hover, .text2-aside-gauche li:hover,
.text1-aside-gauche li.active, .text2-aside-gauche li.active {
    font-weight: bold;
    padding-left: 25px;
}

.text1-aside-gauche{
    font-size: 36px;
    padding-bottom:44px;
    font-weight: normal;
}

.text1-aside-gauche li{
line-height: 1.1;
cursor: pointer;
}

.text2-aside-gauche{
    font-size: 24px;
    padding-bottom:44px;
    font-weight: normal;
}

.text2-aside-gauche li{
line-height: 1;
cursor: pointer;
}

.conteneur-aside-gauche h3{
    font-size: 17px;
    font-weight: bold;
    padding-bottom: 5px;
}

.reseaux img{
 background-color: #00009B;
 border-radius: 100%;
 padding: 5px;
 margin: 0px 4px 0px 4px;
 width: 37px;
 height: 37px;
 transition: 0.2s ease;
}

.reseaux img:hover{
    width: 42px;
    height: 42px;
    background-color: #00009B;
    border-radius: 100%;
}

/*----------------------------------aside-droit-------------------------------------------------*/
.conteneur-aside-droit{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.titre-logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding:60px 20px 60px 20px;
}

.titre-logo img{
    width: 189px;
    height: 100%;
    padding-right: 23px;
    object-fit: contain;
}
.titre-logo h1{
    font-family: "Poppins", serif;
    font-size: 36px;
    font-weight: bold;
    color: #000091;
}

.articles-blog{
    display: flex;
    border-bottom: solid 1px black;
    overflow: hidden;
    align-items: space-between;
    width: 100%;
}

.articles-blog span{
    font-family: "Poppins", serif;
}

.article-blog-img{
    display:block;
    overflow:hidden;
    max-width:300px;
    width: 100%;
    max-height:250px;
    border-radius: 15px;
}

.article-blog-img img{
    border-radius: 15px;
    max-width:300px;
    width:100%;
    height:100%;
    object-fit:cover;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;  
}

.articles-blog:hover .article-blog-img img{
    max-width:300px;
    transform:scale(1.2);
}

.blog-article-content{
    display: flex;
    justify-content:flex-start;
    flex-direction: column;
    transition: 0.5s ease;
    padding-left:25px;
    width: 100%;
}

.articles-blog:hover .blog-article-content{
    padding-left: 35px;
}

.blog-time-localisation{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
    padding-bottom:5px;
    width: 100%;
}

.blog-localisation{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: flex-start;
}

.blog-localisation span, .blog-localisation p {
    font-family: "Poppins", serif;
    font-size: 14px;
    font-weight: normal;
    color: #000000;
}

#localisation-cancun, #localisation-paris, #localisation-dubai, #localisation-bangkok{
    font-size: 16px;
    font-weight: bold;
}

.blog-time{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: flex-start;
}

.blog-time span{
    font-family: "Poppins", serif;
    font-size: 14px;
    font-weight: normal;
    color: #000000;
    margin-left:5px;
}

.blog-time img{
    height:20px;
    width: 20px;
}

.blog-article-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-bottom:5px;
}

.blog-article-text h2{
    font-family: "Poppins", serif;
    font-size: 30px;
    font-weight: 800;
    color: #000091;
}

.blog-article-text span{
    font-family: "Poppins", serif;
    font-size: 17px;
    font-weight: light;
    color: #000000;
}

/*----------------------------------responsive-------------------------------------------------*/
@media (min-width: 1400px) {
    .conteneur-principal{
        padding-left:5.71%;
        padding-right:5.71%;
    }
}

@media (min-width: 1200px) {
    .conteneur-principal{
        padding-left: 5%;
        padding-right:5%;
    }
}
@media (min-width: 992px) {
    .conteneur-principal{
        padding-left: 3.23%;
        padding-right:3.23%;
    }
}
@media (min-width: 768px) {
    .conteneur-principal{
       padding-left:6.25%;
       padding-right:6.25%;
    }
}